<h1>User Product</h1>
<p>Show data user product</p>

<h1><%= @product.title %> - <%= @user.name %></h1> 
<p>This is the Product with id: <b><%= @product.id %></b> </p>
<p>- <%= @product.description %></p> <p>- <%= @product.created_at %></p>

<p> <a href="/">RETURN LIST</a> </p>